*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: #242d52;
}

p {
  color: #9095a7;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 7em;
  z-index: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list .nav-items {
  margin-left: 1.5em;
  list-style: none;
}

.nav-list .nav-items .nav-links {
  text-decoration: none;
  color: #242d52;
  font-weight: 700;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-list .nav-items .nav-links:hover {
  color: rgba(36, 45, 82, 0.5);
}

.menu-bar {
  cursor: pointer;
  display: none;
}

.button {
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  background: #f25f3a;
  outline: none;
  border: none;
  border-radius: 2rem;
  color: white;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background: rgba(242, 95, 58, 0.5);
}

.l-section {
  width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em 7em;
  margin-top: 6em;
  position: relative;
}

.l-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-content h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1;
  color: #242d52;
  margin-bottom: 0.5em;
}

.l-content button {
  margin-top: 2em;
}

.l-image {
  background: white;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.overlay {
  position: absolute;
  top: -15rem;
  left: -60rem;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 100%;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
  pointer-events: none;
}

.overlay img {
  min-width: 80%;
  min-height: 100%;
}

.a-section {
  width: 100%;
  min-height: 50vh;
  padding: 3em 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6em;
}

.a-header {
  width: 50%;
}

.a-header h2 {
  color: #242d52;
  font-size: clamp(1.2rem, 5vw, 2.5rem);
  margin-bottom: 0.5em;
}

.a-content {
  width: 40%;
}

.a-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.a-wrapper .a-number {
  margin-right: .5em;
  padding: .8em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: .8em;
  background: #f25f3a;
  color: white;
}

.a-context h3 {
  margin-bottom: .5em;
}

.t-section {
  margin-top: 6em;
  width: 100%;
  min-height: 50vh;
}

.t-header {
  text-align: center;
}

.t-header h2 {
  font-size: clamp(1.2rem, 5vw, 2.5rem);
  margin-bottom: 2em;
}

.t-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  place-items: center;
  gap: 1em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1em 0 1em;
  width: 26rem;
  min-height: 13rem;
  background: #fafafa;
  text-align: center;
  margin-top: 2em;
  cursor: pointer;
}

.card .card-user {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-user img {
  position: absolute;
  top: -3rem;
  width: 6rem;
  height: 6rem;
}

.card .card-context h4 {
  margin-bottom: .5em;
}

.t-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.g-section {
  width: 100%;
  padding: 3em 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6em;
  background: #f25f3a;
}

.g-section h2 {
  font-size: clamp(1.2rem, 5vw, 2.5rem);
  color: white;
}

.g-button {
  background-color: white;
  color: #f25f3a;
}

.g-button:hover {
  background: white;
}

.f-section {
  padding: 3em 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #242d52;
  color: white;
}

.f-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-socials img {
  margin-left: 1em;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.f-socials img:hover {
  fill: #f25f3a;
}

.f-list {
  list-style: none;
}

.f-list li {
  margin-bottom: .5em;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.f-list li:hover {
  color: #f25f3a;
}

.f-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-form input {
  width: 100%;
  padding: .5em 1em;
  height: 3rem;
  border-radius: 3rem;
  outline: none;
  border: none;
}

.f-form button {
  color: white;
  margin-left: 1em;
  width: 7rem;
  height: 3rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: #f25f3a;
  font-weight: 700;
  -webkit-transition: .2s;
  transition: .2s;
}

.f-form button:hover {
  background: rgba(242, 95, 58, 0.5);
}

.copyright {
  text-align: center;
}

@media screen and (max-width: 1090px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 7rem;
    left: 50%;
    padding: 1.5em;
    width: 50%;
    min-height: 50vh;
    background: white;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 2em;
    z-index: 99;
    -webkit-transition: .1s;
    transition: .1s;
    pointer-events: none;
    opacity: 0;
  }
  .add {
    opacity: 1;
    pointer-events: all;
  }
  .n-btn {
    display: none;
  }
  .menu-bar {
    display: block;
    width: 2rem;
    height: 1.5rem;
    background-image: url("/images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .close-icon {
    width: 2rem;
    height: 2rem;
    background-image: url("/images/icon-close.svg");
  }
  .l-section {
    margin-top: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-content {
    text-align: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-image {
    width: 100%;
    margin-bottom: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay {
    display: none;
  }
  .a-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .a-header {
    text-align: center;
    width: 100%;
  }
  .a-content {
    margin-top: 2em;
    width: 100%;
  }
  .a-wrapper .a-number {
    margin-right: -1em;
  }
  .a-context h3 {
    padding: 0 1em;
    width: 100%;
    height: 1.4em;
    background: rgba(242, 95, 58, 0.3);
    border-radius: .8em;
  }
  .g-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .g-section h2 {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .g-button {
    margin-top: 1em;
  }
  .f-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .f-socials {
    margin-top: 1em;
  }
  .desktop-ul {
    display: none;
  }
  .mobile-ul {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    text-align: center;
  }
  .f-form {
    margin-top: 1em;
  }
  .copyright {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .navbar, .l-section, .a-section, .g-section, .f-section {
    padding: 3em 2em;
  }
  .nav-list {
    width: 90%;
  }
  .l-image img {
    width: 100%;
  }
  .desktop-grid {
    display: none;
  }
  .swiper-wrapper {
    padding: .3em;
    -ms-grid-columns: (100%)[4];
        grid-template-columns: repeat(4, 100%);
    gap: 0;
  }
  .swiper-slide {
    width: 100%;
    padding: 1em 3em 1em 3em;
    min-height: 15rem;
  }
  .cover {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.315);
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .show-cover {
    visibility: visible;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
  .navbar, .l-section, .a-section, .g-section, .f-section {
    padding: 1.5em 1em;
  }
  .card {
    padding: 1em .5em;
  }
  .f-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .f-form button {
    width: 100%;
    margin-top: 1em;
    margin-left: 0;
  }
}

@media screen and (min-width: 600px) {
  .swiper-container {
    display: none;
  }
}

@media screen and (min-width: 1090px) {
  .mobile-ul {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */